<div id="cover" class="slider-content" style="background: url('');background-size: cover;background-repeat: no-repeat;background-position: center;">
    <div style="/*display: table;*/position: absolute;top: 0;left: 0;height: 100%;padding: 0; overflow: hidden;padding: 3.183023872679045vh;" class="wrap">
        <div class="content-cover-wrap" style="display: table;width: 100%;">
            <div class="cover-wrap" style="text-align: center;display: table-cell;vertical-align: middle;">
                <div class="title-module" style="color: black;">
                    
                </div>
                <input class="form-control name" type="text" style="width: 100%;">

                <button title="mulai" class="btn-start next_page" style="border-radius: 16px;background: rgba(0,0,0,0.1);margin-bottom: 9.549071618037136vh;position: unset;transform: unset;margin-top: 4vh;background:#1d8bec;">SUBMIT</button>
            </div>  
        </div>
    </div>
</div>